[submodule "3rdparty/libgrapheme"]
	path = 3rdparty/libgrapheme
	url = https://github.com/FRIGN/libgrapheme.git
[submodule "3rdparty/jinput"]
	path = 3rdparty/jinput
	url = https://github.com/jhanssen/jinput.git
